/*
   모든 방 공통으로 들어가는 설정들
*/
.baseRoom{              /*  방 기본 화면 설정 - 크기: 1200*600 absolute, z-index: 0(제일 뒤)   */
    background-color: beige;
    width: 1200px;
    height: 600px;
    position:relative;
    z-index: 0;
}
.obj{
    position: absolute;
    z-index: 3;
}
.baseFloor{             /*  바닥 설정*/
    z-index: 1;
    position: absolute;
    bottom:0;           /*baseRoom(방 내부 화면) 기준 absolute 좌표*/
    height: 80px;
    width: inherit;
    background-color: rebeccapurple;
}
.baseDoor{
    position: absolute;
    bottom: 80px;       /*baseRoom(방 내부 화면) 기준 absolute 좌표*/
    right: 200px;
    background-color: brown;
    width: 200px;       /*문 크기*/
    height: 400px;
}