/*
   모든 방 공통으로 들어가는 설정들
*/
.baseRoom{              /*  방 기본 화면 설정 - 크기: 1200*600 absolute, z-index: 0(제일 뒤)   */
    background-color: beige;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: -100;
}
.obj{
    position: absolute;
    z-index: 3;
}
.baseFloor{             /*  바닥 설정*/
    z-index: -1;
    position: absolute;
    bottom:0;           /*baseRoom(방 내부 화면) 기준 absolute 좌표*/
    height: 80px;
    width: inherit;
    background-color: rebeccapurple;
}

/*This is zoom class that can be applied to all*/
.zoom:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
  }