.room3 {
    background-color: rgb(196, 238, 211);


}

.floor3 {
    background-color: rgb(221, 209, 171);


}


.bubble {
   /*position: relative;*/
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 280px; /*23vw 280px*/
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;

    resize: both;
    bottom:300px;
    left:10px;
  }
  
  .bubble-bottom-left:before {
    content: "";
    width: 0px; /*0px  3vw 크면 길어짐*/
    height: 30px;/*30px 3vw*/
    position: absolute;

    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;

    left: 150px; /*말꼬리 위치*/
    bottom: -30px; /*말꼬리 높이*/
    
    transform: rotate(90deg); /*회전*/
    resize: both;
  }

.programmer {

    background-image: url("./overtime-programmer.png");
    background-size: cover;
    width: 23vw;  /* vw를 쓰면 윈도우 resize 할 때 객체도 resize 가능 */
    height: 23vw; /* Relative to 1% of the width of the viewport*/
    bottom: 103px;
    left: 180px;

}

.desk {

    background-image: url("./desktop.png");
    background-size: cover;
    width: 30vw;  /* vw를 쓰면 윈도우 resize 할 때 객체도 resize 가능 */
    height: 12vw; /* Relative to 1% of the width of the viewport*/
    bottom: 110px;
    right: 5%;


}


.monitor {

    background-image: url("./coding_monitor.png");
    background-size: cover;
    width: 18vw;  /* vw를 쓰면 윈도우 resize 할 때 객체도 resize 가능 */
    height: 18vw; /* Relative to 1% of the width of the viewport*/
    bottom: 150px;
    right: 6%;

}

.cube{
    background-image: url("./cube.png");
    background-size: cover;

    width: 4vw;
    height: 4vw;
    bottom: 150px;
    right: 70%;

}

.ProjectorScreencontainer{
    width: 100%;
    height: auto;
}

.ProjectorScreen{
    background-image: url("./projector_screen.png");
    background-size: cover;

    width: 32vw;
    height: 18vw;
    top: 45px;
    left: 5%;
}


.lampcontainer{
    width: 100%;
    height: auto;
}
.lamp{

    background-image: url("./light_lamp.png");
    background-size: cover;

    width: 20vw;
    height: 10vw;

    top: 10%;
    right: 15%;
}


.jscontainer {
    width: 100%;
    height: auto;
}

.js{

    background-image: url("./js.png");
    background-size: cover;

    width: 10vw;
    height: 10vw;

    top: 10%;
    right: 43%;
    border: groove #a57164 10px;
    background-color: white;

}


 /* The Modal (background) */
 .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    z-index: 10;
    
}
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 1000px;
    height:100%;
    font-size: 40px;
}
  
.close {
    color: #aaaaaa;
    text-align: right;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.question{
    font-size:30px;
    text-align:left;
}


.question#answer{
    font-size:15px;
    text-align:left;
    border-radius: 50%;
    border-color: rgb(215, 12, 12);
}

.fill-out{
    width:150px;
    height: 30px;

}

#heart1{
    position:absolute;
    /*left:550px;*/
    right: 390px;
    top: 40px;
    width: 60px;
    height: 60px;
}

#heart2{
    position:absolute;
    /*left:600px;*/
    right: 320px;
    top: 40px;
    width: 60px;
    height: 60px;
}

#heart3{
    position:absolute;
    /*left:650px;*/
    right: 250px;
    top: 40px;
    width: 60px;
    height: 60px;
}

#heart4{
    position:absolute;
    /*left:650px;*/
    right: 180px;
    top: 40px;
    width: 60px;
    height: 60px;
}

#heart5{
    position:absolute;
    /*left:650px;*/
    right: 110px;
    top: 40px;
    width: 60px;
    height: 60px;
}