/*이미지(스타일)는 임시로 아무렇게나 한거고 나중에 바꿀 예정*/
.room1{
    background-image: url("./wall1.png");
    background-size: cover;
}
.floor1{
    background-image: url("./floor1.png");
    background-size: cover;
}
.door1{
    background-image: url("./door1.png");
    background-size: cover;
}
.example1{
    background-image: url("./blue_couch.png");
    background-size: cover;
    width: 400px;
    height: 200px;
    bottom: 25px;
    left: 80px;
}