.room1{
    background-color:wheat;
}
.floor1{
    background-color:gray;
}
/* modal 1*/
.modal1 {
    /*필수 속성 값*/
    display: none; /* Hidden by default modal 창이 기본값으로 닫혀있게 해줌 */
    position: fixed; /* modal window의 위치를 고정시킴 */
    z-index: 10;  /* Sit on top. 1로 두지 않으면 modal 밖 영역 component와 겹쳐 보임 */
    /* 색상을 제외하고 나머지는 건들지 않는 것이 좋을 겁니다 */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;  /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
.modal-content1 {
    /* 본인이 꾸미고 싶은 만큼 선택 */
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: 20px;
}
/*modal 2*/
.rectangle {
    position:relative;
    text-align: center;
    bottom:10px;
    font-size: 30px;
    background-color:lightblue;
}
.btn {
    background-color:darkcyan;
    border: none;
    width: 100%;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    position:relative;
}
.modal2 {
    /*필수 속성 값*/
    display: none; /* Hidden by default modal 창이 기본값으로 닫혀있게 해줌 */
    position: fixed; /* modal window의 위치를 고정시킴 */
    z-index: 10;  /* Sit on top. 1로 두지 않으면 modal 밖 영역 component와 겹쳐 보임 */
    /* 색상을 제외하고 나머지는 건들지 않는 것이 좋을 겁니다 */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;  /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
/*modal3*/
.modal3 {
    /*필수 속성 값*/
    display: none; /* Hidden by default modal 창이 기본값으로 닫혀있게 해줌 */
    position: fixed; /* modal window의 위치를 고정시킴 */
    z-index: 10;  /* Sit on top. 1로 두지 않으면 modal 밖 영역 component와 겹쳐 보임 */
    /* 색상을 제외하고 나머지는 건들지 않는 것이 좋을 겁니다 */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;  /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
.mytext{
    width:100%;
}
/* objects*/
.couch{
    background-image: url("./blue_couch.png");
    background-size: cover;
    width: 400px;
    height: 200px;
    bottom: 50px;
    left: 70%;
}
.table1{
    background-image: url("./table1.png");
    background-size:cover;
    width: 200px;
    height: 200px;
    bottom: 70px;
    left: 7%;
}
.box{
    background-image: url("./box.png");
    background-size:cover;
    width: 200px;
    height: 150px;
    bottom: 50px;
    left: 30%;
}
.flower{
    background-image: url("./flower.png");
    background-size: cover;
    width: 220px;
    height: 220px;
    bottom: 240px;
    left: 7%;
}
.rug{
    background-image: url("./rug.png");
    background-size:cover;
    width: 330px;
    height: 110px;
    bottom: 30px;
    left: 4%;
    z-index: 1;
}
.frame{
    background-image: url("./frame.png");
    background-size:cover;
    width: 256px;
    height: 206px;
    bottom: 350px;
    z-index: 1;
    left: 10%;
}
.clock{
    background-image: url("./clock.png");
    background-size:cover;
    width: 150px;
    height: 150px;
    bottom: 450px;
    left: 60%;
}