.baseDoor
{
  background-color: #333;
  position:absolute;
  width:200px;
  height:350px;
  bottom:150px;  /*위치 수정*/
  left: 650px;
  margin: 0 auto;
  margin-top:50px;
}

.door
{
  background-color: saddlebrown;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:350px;
  transform-origin: left;
  transition: all 0.5s ease-in-out;
}

.doorOpen
{
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

.doorknob{
  background-color: bisque;
  position:absolute;
  top:120px;
  left:165px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.movenext{
  border: none;
  background-color: #918E85;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;

  position:absolute;
  top:100px;
  left:35px;
  height: 30px;
  width: 120px;
  padding-top: 15px !important;
  border-radius: 3%;
}

.doordesign1{
  background-color: saddlebrown;
  position:absolute;
  top:20px;
  left:30px;
  width:125px;
  height:75px;
  border: 6px inset #a57164;

}

.doordesign2{
  background-color: saddlebrown;
  position:absolute;
  top:155px;
  left:30px;
  width:125px;
  height:75px;
  border: 6px inset #a57164;

}