body {
    font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#myBtn {
    position: relative;
    background: url("lock.png");
    background-position: center;
    background-size: 250px;
    width: 250px;
    height: 250px;

    top: 50px;
    left: 650px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#myBtn2 {
    position: relative;
    background: url("cube.png");
    background-position: center;
    background-size: 250px;
    width: 250px;
    height: 250px;

    top: 50px;
    left: 650px;
}

.rectangle{
    width: 400px;
    height: 300px;
    position:relative;
    text-align: center;
    bottom:10px;
    
    background: rgb(237, 175, 175);
}

.btn {
    background-color: olive;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    position:relative;
  }

#myBtn3 {
    position: relative;
    background: url("password.png");
    background-position: center;
    background-size: 250px;
    width: 250px;
    height: 100px;

    top: 50px;
    left: 650px;
}

.mytext {
    width: 20px;
}